<h3 style="color:red;">The purpose here is to define the source of university rankings data, then check how to scrap each data and then how to merge the data from different sources.</h3>
<h4 style="color:blue;">The plan now is to scrap data from three different sources. This would lead to three different webpages, with three different scrapping algorithms and finally the collection of data. One thing I would like to do is to run a similarity analysis between the sources to see how consistent are between them.</h4>

<h1>PROJECT TITLE</h1>
<h2>Supplementary information (code development)</h2>
<h5>By: Aurelio Álvarez Ibarra</h5>

<h3>S1.1 Getting information from the ranking tables</h3>

As usual, first we will download and import the necessary packages and libraries.

In [1]:
# Get packages and libraries ready
!pip install beautifulsoup4 lxml
from bs4 import BeautifulSoup
import requests
import pandas as pd

Requirement already satisfied: beautifulsoup4 in /Users/aurelio/opt/anaconda3/lib/python3.7/site-packages (4.8.2)
Requirement already satisfied: lxml in /Users/aurelio/opt/anaconda3/lib/python3.7/site-packages (4.5.0)
Requirement already satisfied: soupsieve>=1.2 in /Users/aurelio/opt/anaconda3/lib/python3.7/site-packages (from beautifulsoup4) (1.9.5)

<h4>Source one: U.S. News</h4>
The first source of data will be the ranking by <a href="https://www.usnews.com/education/best-global-universities/rankings">U.S. News</a>. <b>SAY SOMETHING ABOUT THE SOURCE...</b>. The data will be restricted to the Latin American countries in their search results. <br><br>
Looking at the structure of the page, the data is not in a table but in a set of <code>div</code> tags with <code>class="sep"</code>. A concerning details is that it is not possible to ask for the full list in one shot (there is no option like "Show all" in this source), but this will be solved later. For the first page of results for the Latin American universities, the retrieving code is the following:

In [341]:
# Save data from webpage
myurl = 'https://www.usnews.com/education/best-global-universities/search?region=latin-america'
#header = {'User-Agent': 'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:50.0) Gecko/20100101 Firefox/50.0'}
header = {"User-Agent":"Mozilla/5.0"}
source = requests.get(myurl,headers=header).text # Without .text, it gets the response in JSON format
mysoup = BeautifulSoup(source,'lxml')


# I need this function to find the div with the specific class
mydivs = mysoup.find_all(lambda tag: tag.name == 'div' and
                         tag.get('class') == ['sep'])
print("Elements in the search result: ",len(mydivs))

Elements in the search result:  10

Using this method, I get a list as a result. According to its lenght, I know how many elements I shall analyze. For the first ten results in the Latin America ranking, the following data can be retrieved:

In [7]:
import re # For the regex search in the local ranking
###
ind = 0
univnames = []
for myUname in mysoup.find_all("h2",class_="h-taut"): # All tags with university name
#    print(myUname.text.strip())
    univnames.append(myUname.text.strip())
    ind = ind+1
###
ind = 0
LAranks = []
for myLArank in mysoup.find_all("div",class_="thumb-left"): # All tags with rank in LatinAmerica (see myurl)
    # Score comes with a # sign and maybe a TIE string. Convert to number
    LAranks.append(int(re.findall("[0-9]+",str(myLArank))[0]))
    ind = ind+1
###
ind = 0
globalscores = []
for myGscore in mysoup.find_all("div",class_="t-large t-strong t-constricted"): # All tags with global score number
    globalscores.append(myGscore.text)
    ind = ind+1
###
ind = 0
countries = []
cities = []
for mylocation in mysoup.find_all("div",class_="t-taut"): # All tags with location
    countries.append(mylocation.span.text.strip())
    cities.append(mylocation.find("span",class_="t-dim t-small").text.strip())
    ind = ind+1
###
for ind in range(len(mydivs)):
    print('** {}, #{} in Latin America with a global score of {}, is located in {} ({}).'.format(univnames[ind],LAranks[ind],globalscores[ind],cities[ind],countries[ind]))

** Universidade de São Paulo, #1 in Latin America with a global score of 66.4, is located in São Paulo (Brazil).
** Pontificia University Católica de Chile, #2 in Latin America with a global score of 57.2, is located in Santiago (Chile).
** State University of Campinas, #3 in Latin America with a global score of 56.7, is located in Campinas, São Paulo (Brazil).
** Federal University of Rio de Janeiro, #4 in Latin America with a global score of 54.9, is located in Rio de Janeiro (Brazil).
** University of Buenos Aires, #5 in Latin America with a global score of 53.7, is located in Buenos Aires City, Buenos Aires (Argentina).
** National Autonomous University of Mexico, #6 in Latin America with a global score of 53.4, is located in Ciudad de México, Distrito Federal (Mexico).
** University of Chile, #7 in Latin America with a global score of 53.1, is located in Santiago (Chile).
** University of the Andes Colombia, #8 in Latin America with a global score of 51.4, is located in Bogotá, DC (Colombia).
** Universidad Tecnica Federico Santa Maria, #9 in Latin America with a global score of 51.1, is located in Valparaiso, Valparaiso (Chile).
** Federal University of Rio Grande do Sul, #10 in Latin America with a global score of 50.4, is located in Porto Alegre, Rio Grande do Sul (Brazil).

For the next pages, an extra string appears in the URL: <code>page=#</code>, where <code>#</code> goes from 2 to 10 in this particular case. For <code>#</code>=1, this "extra" string does not appear. The following loop retrieves as many pages as stated in <code>numpages</code>.

In [8]:
# Initialize fields
univnames = []
LAranks = []
globalscores = []
countries = []
cities = []
pagenum = []
###

# Defining extra strings in URL and setting up request
myurl = 'https://www.usnews.com/education/best-global-universities/latin-america'
numpages = 10
extrastring = ['']
for mypages in range(2,numpages+1):
    mytext = '?page='
    extrastring.append(mytext+str(mypages))
header = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko)'
          +' Chrome/64.0.3282.186 Safari/537.36','Accept': 'application/json, text/javascript, */*; q=0.01'}
header = {"User-Agent":"Mozilla/5.0"}

# Loop for pages 1 to numpages
for n in range(1,numpages+1):
    url = myurl + extrastring[n-1]
    source = requests.get(url,headers=header).text
    mysoup = BeautifulSoup(source,'lxml')

    ### University names
    for myUname in mysoup.find_all("h2",class_="h-taut"): # All tags with university name
        univnames.append(myUname.text.strip())
    ### University rank (in Latin America)
    for myLArank in mysoup.find_all("div",class_="thumb-left"): # All tags with rank in LatinAmerica (see myurl)
        try:
            LAranks.append(int(re.findall("[0-9]+",str(myLArank))[0]))
        except:
            LAranks.append(None)
    ### University global score
    for myGscore in mysoup.find_all("div",class_="t-large t-strong t-constricted"): # All tags with global score number
        globalscores.append(myGscore.text.strip())
    ### University location (country and city)
    for mylocation in mysoup.find_all("div",class_="t-taut"): # All tags with global score
        countries.append(mylocation.span.text.strip())
        cities.append(mylocation.find("span",class_="t-dim t-small").text.strip())
    ### Page number of this batch of data
    maxscores = len(mysoup.find_all("div",class_="t-large t-strong t-constricted"))
    for mypage in range(1,maxscores+1):
        pagenum.append(n)
# Universities without global score do not have complete data (see below), thus they will be dropped
##for ind in range(len(globalscores)):
##    print('** {}, #{} in Latin America with a global score of {}, is located in {} ({}).'.format(univnames[ind],LAranks[ind],globalscores[ind],cities[ind],countries[ind]))

Let's combine all the lists in a dataframe

In [9]:
#import pandas as pd
maxlenght = len(globalscores)
USN_df=pd.DataFrame({'University':univnames[0:maxlenght],
                        'LatinAmericaRank':LAranks[0:maxlenght],
                        'GlobalScore':globalscores[0:maxlenght],
                        'Country':countries[0:maxlenght],
                        'City':cities[0:maxlenght],
                        'PageNumber':pagenum[0:maxlenght]}
                      )
USN_df.head(10)

,University,LatinAmericaRank,GlobalScore,Country,City,PageNumber
0,Universidade de São Paulo,1,66.4,Brazil,São Paulo,1
1,Pontificia University Católica de Chile,2,57.2,Chile,Santiago,1
2,State University of Campinas,3,56.7,Brazil,"Campinas, São Paulo",1
3,Federal University of Rio de Janeiro,4,54.9,Brazil,Rio de Janeiro,1
4,University of Buenos Aires,5,53.7,Argentina,"Buenos Aires City, Buenos Aires",1
5,National Autonomous University of Mexico,6,53.4,Mexico,"Ciudad de México, Distrito Federal",1
6,University of Chile,7,53.1,Chile,Santiago,1
7,University of the Andes Colombia,8,51.4,Colombia,"Bogotá, DC",1
8,Universidad Tecnica Federico Santa Maria,9,51.1,Chile,"Valparaiso, Valparaiso",1
9,Federal University of Rio Grande do Sul,10,50.4,Brazil,"Porto Alegre, Rio Grande do Sul",1

Details for the university ranking appear when clicking on the university's name. The resulting URL includes a variant of the university and a numeric identifier. This information can be found in an <code>a</code> tag inside the <code>h2</code> tag used to retriege the university name. The previous data retriever will be used to get the URL for each university.

In [10]:
# Initialize fields
univurl = []

# Defining extra strings in URL and setting up request
myurl = 'https://www.usnews.com/education/best-global-universities/latin-america'
numpages = 10
extrastring = ['']
for mypages in range(2,numpages+1):
    mytext = '?page='
    extrastring.append(mytext+str(mypages))
header = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko)'
          +' Chrome/64.0.3282.186 Safari/537.36','Accept': 'application/json, text/javascript, */*; q=0.01'}
header = {"User-Agent":"Mozilla/5.0"}


# Loop for pages 1 to numpages
for n in range(1,numpages+1):
    url = myurl + extrastring[n-1]
    source = requests.get(url,headers=header).text
    mysoup = BeautifulSoup(source,'lxml')

    ### University URLs
    for myUname in mysoup.find_all("h2",class_="h-taut"): # All tags with university name
        univurl.append(myUname.a['href'])
# Append URL list to dataframe
tmp = pd.DataFrame({'USN_URL':univurl[0:len(globalscores)]})
USN_df = USN_df.join(tmp)
USN_df

,University,LatinAmericaRank,GlobalScore,Country,City,PageNumber,USN_URL
0,Universidade de São Paulo,1,66.4,Brazil,São Paulo,1,https://www.usnews.com/education/best-global-u...
1,Pontificia University Católica de Chile,2,57.2,Chile,Santiago,1,https://www.usnews.com/education/best-global-u...
2,State University of Campinas,3,56.7,Brazil,"Campinas, São Paulo",1,https://www.usnews.com/education/best-global-u...
3,Federal University of Rio de Janeiro,4,54.9,Brazil,Rio de Janeiro,1,https://www.usnews.com/education/best-global-u...
4,University of Buenos Aires,5,53.7,Argentina,"Buenos Aires City, Buenos Aires",1,https://www.usnews.com/education/best-global-u...
...,...,...,...,...,...,...,...
78,Universidade Tecnologica Federal do Parana,79,16.5,Brazil,Curitiba,8,https://www.usnews.com/education/best-global-u...
79,Universidade Federal de Sergipe,80,16.3,Brazil,São Cristóvão,8,https://www.usnews.com/education/best-global-u...
80,Universidade Federal Rural de Pernambuco (UFRPE),81,15.9,Brazil,"Recife, PE",9,https://www.usnews.com/education/best-global-u...
81,Universidad Autonoma de Baja California,82,15.6,Mexico,"Mexicali, Baja California",9,https://www.usnews.com/education/best-global-u...
82,Universidad Veracruzana,82,15.6,Mexico,"Xalapa, Veracruz",9,https://www.usnews.com/education/best-global-u...

With the URL retrieved, the data used to score the universities is available. The following code retrieves such data. Let's try and study with the first element of the URL list.

In [270]:
details_url = USN_df['USN_URL'][0]
print(details_url)
header = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko)'
          +' Chrome/64.0.3282.186 Safari/537.36','Accept': 'application/json, text/javascript, */*; q=0.01'}
header = {"User-Agent":"Mozilla/5.0"}
source = requests.get(details_url,headers=header).text
mysoup = BeautifulSoup(source,'lxml')

https://www.usnews.com/education/best-global-universities/universidade-de-sao-paulo-500437

In [271]:
# Getting the address (location)
maincontent = mysoup.find('div',class_='maincontent')
dirdata = maincontent.find('div',class_='directory-data')
address = ''
for data in dirdata.find_all('div'):
    address = address + data.text + ' '
address = address.strip()
print(address)

Av. Prof. Almeida Prado, nº1280 - Butantã São Paulo, 05508-070 Brazil

In [272]:
# Getting the webpage
# Both location and webpage are under the same tree of tags... I have to get both of them in one shot!
maincontent = mysoup.find_all('div',class_='directory-data')
address = maincontent[0]
webpage = maincontent[1]
text = ''
for data in address.find_all('div'):
    text = text + data.text + ' '
address = text.strip()
webpage = webpage.find('a')['href']
print(address)
print(webpage)

Av. Prof. Almeida Prado, nº1280 - Butantã São Paulo, 05508-070 Brazil
http://www5.usp.br/en/

In [273]:
# Getting university details
maincontent = mysoup.find('div',id='directoryPageSection-institution-data')
#print(maincontent.prettify())
detailname = []
detailval = []
for name in maincontent.find_all('div',class_="t-dim"):
    detailname.append(name.text.strip())
for value in maincontent.find_all('div',class_="right t-strong"):
    detailval.append(value.text.strip())
# Print dataframe
tmp = pd.DataFrame({'Detail':detailname,'Value':detailval})
tmp

                                     Detail   Value
0                  Total number of students  83,214
1          Number of international students   3,161
2            Total number of academic staff   5,230
3             Number of international staff     258
4   Number of undergraduate degrees awarded   8,207
5        Number of master's degrees awarded   3,742
6        Number of doctoral degrees awarded   3,078
7             Number of research only staff       0
8      Number of new undergraduate students  10,978
9           Number of new master's students   4,697
10          Number of new doctoral students   3,308

This dataframe cannot be joined to the ranking dataframe as it is here. The best way to do it is to generate a dataframe with columns labeled as the "Detail" shown here, and rows with the "Values". In that way, after filling the whole dataframe it can be straightforwardly joined to the ranking dataframe. Something like this:

In [274]:
tmp = tmp.T
tmp.rename(columns=tmp.iloc[0],inplace=True)
tmp = tmp.drop(['Detail'])
tmp.reset_index(inplace=True,drop=True)
tmp

,Total number of students,Number of international students,Total number of academic staff,Number of international staff,Number of undergraduate degrees awarded,Number of master's degrees awarded,Number of doctoral degrees awarded,Number of research only staff,Number of new undergraduate students,Number of new master's students,Number of new doctoral students
0,"83,214","3,161","5,230",258,"8,207","3,742","3,078",0,"10,978","4,697","3,308"

However, some of the pages do not have data at all. And worse, some of them have some of the data (which denies the possibility of just neglecting pages without data). Thus, it is better to create a dictionary for the details of each university. This is taken into account in the definition of the following code, which retrieves the a available details of each university.

In [ ]:
import time # For sleep()

# Initialize data fields
details = [] # list, each element will be a dictionary with details
dictkeys = ['Address','Webpage',
            'Total number of students', 'Number of international students', 'Total number of academic staff', 
            'Number of international staff', 'Number of undergraduate degrees awarded', "Number of master's degrees awarded", 
            'Number of doctoral degrees awarded', 'Number of research only staff', 'Number of new undergraduate students', 
            "Number of new master's students", 'Number of new doctoral students']

# Loop over different URLs given in USN_df['USN_URL']
maxurl = len(USN_df['USN_URL'])

header = {"User-Agent":"Mozilla/5.0"}
for urlnum in range(maxurl):
    time.sleep(1) # Wait 1 second so the server will not deny my next calls
    mydict = {x:None for x in dictkeys} # Initialize dictionary for current university page
    details_url = USN_df['USN_URL'][urlnum]
    source = requests.get(details_url,headers=header).text
    mysoup = BeautifulSoup(source,'lxml')
###    # To check that the access was not denied!
###    print('HEAD.TITLE of retrieved mysoup object: ',mysoup.head.title)
    
    # Getting the webpage
    maincontent = mysoup.find_all('div',class_='directory-data')
    address = maincontent[0]
    webpage = maincontent[1]
    text = ''
    for data in address.find_all('div'):
        text = text + data.text + ' '
    mydict['Address'] = text.strip()
    mydict['Webpage'] = webpage.find('a')['href']

    # Getting university details
    maincontent = mysoup.find('div',id='directoryPageSection-institution-data')
    # Initialize details lists
    detailname = []
    detailvalue = []
    for name in maincontent.find_all('div',class_="t-dim"):
        detailname.append(name.text.strip())
    for value in maincontent.find_all('div',class_="right t-strong"):
        detailvalue.append(value.text.strip())
    # At this moment I have a list of details name and values. Put them in the dictionary
    for i in range(len(detailname)):
        mydict[detailname[i]] = detailvalue[i]
    details.append(mydict)

In [342]:
extended_df = pd.DataFrame.from_dict(details)
extended_df.head(10)

,Address,Webpage,Total number of students,Number of international students,Total number of academic staff,Number of international staff,Number of undergraduate degrees awarded,Number of master's degrees awarded,Number of doctoral degrees awarded,Number of research only staff,Number of new undergraduate students,Number of new master's students,Number of new doctoral students
0,"Av. Prof. Almeida Prado, nº1280 - Butantã São ...",http://www5.usp.br/en/,"83,214","3,161","5,230",258,"8,207","3,742","3,078",0,"10,978","4,697","3,308"
1,Avda. Libertador Bernardo O'Higgins 340 Santi...,http://www.uc.cl/,"28,541","2,007","1,900",207,"2,981",None,121,270,"5,190",None,268
2,"Campus Universitário Zeferino Vaz Campinas, Sã...",http://www.unicamp.br/unicamp/?language=en,"28,795",974,"1,906",106,"2,500","1,342",997,94,"3,353","2,110","1,511"
3,"Av. Pedro Calmon, 550 Rio de Janeiro, 21941-90...",http://www.ufrj.br/,None,None,None,None,None,None,None,None,None,None,None
4,"Viamonte 430 st. Buenos Aires City, Buenos Air...",http://www.uba.ar/ingles/index03.php,None,None,None,None,None,None,None,None,None,None,None
5,"Av. Universidad 3000, Copilco Universidad, Coy...",http://www.unam.mx/index/en,None,None,None,None,None,None,None,None,None,None,None
6,Av. Libertador Bernardo O'Higgins 1058 Santiag...,http://www.uchile.cl/english,None,None,None,None,None,None,None,None,None,None,None
7,"Carrera Primera #18A-12 Bogotá, DC Colombia",http://www.uniandes.edu.co/,None,None,None,None,None,None,None,None,None,None,None
8,"Av. Espana 1680 Valparaiso, Valparaiso Chile",http://www.usm.cl/,None,None,None,None,None,None,None,None,None,None,None
9,"Av. Paulo Gama, 110 Porto Alegre, Rio Grande d...",http://www.ufrgs.br/english/home,None,None,None,None,None,None,None,None,None,None,None

Now, the merging of this extended dataframe with the ranking dataframe is straightforward.

In [ ]:
USN_fulldf = USN_df.join(extended_df)
USN_fulldf.to_csv('USN_dataframe.csv',encoding="utf-8-sig")
USN_fulldf

This ends the data retrieving for source number one. YAY!

<h4>Source two: QS (Quacquarelli Symonds) Top Universities</h4>
The second source of data will be the ranking by <a href="https://www.topuniversities.com/university-rankings/world-university-rankings/2020">QS (Quacquarelli Symonds) Top Universities</a>. <b>SAY SOMETHING ABOUT THE SOURCE...</b>. he data will be restricted to the Latin American countries in their search results. <br><br>
Looking at the structure of the page, the data is not in a table but in a set of <code>div</code> tags with <code>class="sep"</code>. A concerning details is that it is not possible to ask for the full list in one shot (there is no option like "Show all" in this source), but this will be solved later. For the first page of results for the Latin American universities, the retrieving code is the following:

In [3]:
myurl="https://www.topuniversities.com/university-rankings/world-university-rankings/2020"
#header = {'User-Agent': 'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:50.0) Gecko/20100101 Firefox/50.0'}
header = {"User-Agent":"Mozilla/5.0"}
source = requests.get(myurl,headers=header).text
mysoup = BeautifulSoup(source,'lxml')

In [5]:
#content = mysoup.find('div',class_='panel-pane pane-block pane-qs-rankings-datatables-0')
content = mysoup.find('table',id='qs-rankings')

The resulting data comes with an empty table. If one looks at the developer tools in the web browser, the table is correctly built in the code. Further reading about this, the table is generated by a script. Checking again in the developer tools in the browser, the files that contain the actual information are located in the URLs given in the next code cell. Those are the ones to be retrieved and processed to generate the corresponding dataframe.

In [6]:
urlranks = "https://www.topuniversities.com/sites/default/files/qs-rankings-data/914824.txt"
urlindicators = "https://www.topuniversities.com/sites/default/files/qs-rankings-data/914824_indicators.txt"

header = {"User-Agent":"Mozilla/5.0"}

sourceranks = requests.get(urlranks,headers=header).text # Without .text, it gets the response in JSON format
sourceindic = requests.get(urlindicators,headers=header).text
mysoupranks = BeautifulSoup(sourceranks,'lxml')
mysoupindic = BeautifulSoup(sourceindic,'lxml')

In [7]:
import time
import re

# Mysoupranks is a single paragraph (p) of HTML which contains the text file
#   with the information required. It can be converted to a dictionary. However
#   it has only one key with all the data inside. The following code will break
#   the information in order to get individual data in a manageable way.
import json
diction = json.loads(mysoupranks.text)

# By checking the structure of "data", the useful data is:
#   Continent is in ['region'] (I can get the Latin American universities with this)
#   Country is in ['country']
#   University name is in ['title']
#   Global score is in ['score']
#   Rank is in ['rank_display']

details = [] # list, each element will be a dictionary with details
dictkeys = ['Name','Region','Country','GlobalScore','GlobalRank']
## interests = ['title','region','country','score','rank_display']

for i in range(len(diction['data'])):
    if diction['data'][i]['region'] == 'Latin America':
        mydict = {x:None for x in dictkeys} # Initialize dictionary for current university
        mydict['Name']        = diction['data'][i]['title']
        mydict['Region']      = diction['data'][i]['region']
        mydict['Country']     = diction['data'][i]['country']
        mydict['GlobalScore'] = diction['data'][i]['score']
        # Some ranks are tied, and have an "=" in its value
        mydict['GlobalRank']  = int(re.findall("[0-9]+",str(diction['data'][i]['rank_display']))[0])
        # The final [0] is because re.findall returns a list, in this case with one element.
        details.append(mydict)
basic_df = pd.DataFrame.from_dict(details)
basic_df.head(10)

,Name,Region,Country,GlobalScore,GlobalRank
0,Universidad de Buenos Aires (UBA),Latin America,Argentina,66,74
1,Universidad Nacional Autónoma de México (UNAM),Latin America,Mexico,58.8,103
2,Universidade de São Paulo,Latin America,Brazil,55.5,116
3,Pontificia Universidad Católica de Chile (UC),Latin America,Chile,53.4,127
4,Tecnológico de Monterrey,Latin America,Mexico,48.5,158
5,Universidad de Chile,Latin America,Chile,45,189
6,Universidade Estadual de Campinas (Unicamp),Latin America,Brazil,42.1,214
7,Universidad de los Andes,Latin America,Colombia,39.6,234
8,Universidad Nacional de Colombia,Latin America,Colombia,37.5,253
9,Pontificia Universidad Católica Argentina,Latin America,Argentina,31.7,344

Now, it is the turn of the indicators to be processed.

In [28]:
indicators = json.loads(mysoupindic.text)
indicators.pop('columns')
### In columns, I have this data...
#   {'data': '3791737',
#     'title': '<div class="td-wrap"><div class="labl"><div>Citations per Faculty</div></div><div class="sorter"></div></div>',
#     'searchable': False,
#     'orderable': False}
# It seems that instead of names, they used ID numbers for the indicators. I found these:
#     ID = 3791737, for indicator 'Citations per Faculty'
#     ID = 3791738, for indicator 'International Students'
#     ID = 3791739, for indicator 'International Faculty'
#     ID = 3791740, for indicator 'Faculty Student'
#     ID = 3791741, for indicator 'Employer Reputation'
#     ID = 3791742, for indicator 'Academic Reputation'

# The elements in the indicators are strings made of HTML code. I need to parse them
#   before being able to extract the value of the indicator
#   actual_value = BeautifulSoup(indicators['data'][0]['3791737'],'lxml').text

# Example, for university 5 (index 4)
print('Citations per Faculty = ',BeautifulSoup(indicators['data'][4]['3791737'],'lxml').text)
print('International Students = ',BeautifulSoup(indicators['data'][4]['3791738'],'lxml').text)
print('International Faculty = ',BeautifulSoup(indicators['data'][4]['3791739'],'lxml').text)
print('Faculty Student = ',BeautifulSoup(indicators['data'][4]['3791740'],'lxml').text)
print('Employer Reputation = ',BeautifulSoup(indicators['data'][4]['3791741'],'lxml').text)
print('Academic Reputation = ',BeautifulSoup(indicators['data'][4]['3791742'],'lxml').text)

Citations per Faculty =  100
International Students =  87.3
International Faculty =  99.4
Faculty Student =  100
Employer Reputation =  81.2
Academic Reputation =  97.8

In [39]:
indicators = json.loads(mysoupindic.text)
#indicators.pop('columns')

# Initialize variables
details = [] # list, each element will be a dictionary with details
citperfalc = 'Citations_per_Faculty'
interstude = 'International_Students'
interfacul = 'International_Faculty'
facstudent = 'Faculty_Student'
employrepu = 'Employer_Reputation'
academrepu = 'Academic_Reputation'
dictkeys = [citperfalc,interstude,interfacul,facstudent,employrepu,academrepu]
indicators['data'][0]['region']

for i in range(len(indicators['data'])):
    if indicators['data'][i]['region'] == 'Latin America':
        mydict = {x:None for x in dictkeys} # Initialize dictionary for current university
        try:
            mydict[citperfalc] = BeautifulSoup(indicators['data'][i]['3791737'],'lxml').text
        except:
            pass
        try:
            mydict[interstude] = BeautifulSoup(indicators['data'][i]['3791738'],'lxml').text
        except:
            pass
        try:
            mydict[interfacul] = BeautifulSoup(indicators['data'][i]['3791739'],'lxml').text
        except:
            pass
        try:
            mydict[facstudent] = BeautifulSoup(indicators['data'][i]['3791740'],'lxml').text
        except:
            pass
        try:
            mydict[employrepu] = BeautifulSoup(indicators['data'][i]['3791741'],'lxml').text
        except:
            pass
        try:
            mydict[academrepu] = BeautifulSoup(indicators['data'][i]['3791742'],'lxml').text
        except:
            pass
        details.append(mydict)

indic_df = pd.DataFrame.from_dict(details)
indic_df.head(10)
# For the 'data' (remaining) key, the interests are:
# interests = ['region' = 'Latin America','overall_rank','uni'.text,
#              '','','','','',]

,Citations_per_Faculty,International_Students,International_Faculty,Faculty_Student,Employer_Reputation,Academic_Reputation
0,2.4,64.7,50.7,77.4,91.3,87.2
1,3.8,4.3,13.8,57.6,91,90.9
2,35.2,3.7,8.9,25.2,73.3,88.3
3,13.6,4.2,19.4,28.6,95.5,85.2
4,4.6,18.4,98.2,89.5,88.9,36.9
5,14.5,8.4,10.1,16.3,90.8,71.6
6,32.7,4.3,9.9,21.1,34.5,67.5
7,8.1,3.1,32.1,27.6,87.9,54.4
8,5.3,1.3,8.3,11.1,89.7,61.5
9,1.1,13.2,2.9,95.3,44.3,17.7

Now, the merging of this extended dataframe with the ranking dataframe is straightforward.

In [40]:
QSTopU_fulldf = basic_df.join(indic_df)
QSTopU_fulldf.to_csv('QSTopU_dataframe.csv',encoding="utf-8-sig")
QSTopU_fulldf

,Name,Region,Country,GlobalScore,GlobalRank,Citations_per_Faculty,International_Students,International_Faculty,Faculty_Student,Employer_Reputation,Academic_Reputation
0,Universidad de Buenos Aires (UBA),Latin America,Argentina,66,74,2.4,64.7,50.7,77.4,91.3,87.2
1,Universidad Nacional Autónoma de México (UNAM),Latin America,Mexico,58.8,103,3.8,4.3,13.8,57.6,91,90.9
2,Universidade de São Paulo,Latin America,Brazil,55.5,116,35.2,3.7,8.9,25.2,73.3,88.3
3,Pontificia Universidad Católica de Chile (UC),Latin America,Chile,53.4,127,13.6,4.2,19.4,28.6,95.5,85.2
4,Tecnológico de Monterrey,Latin America,Mexico,48.5,158,4.6,18.4,98.2,89.5,88.9,36.9
...,...,...,...,...,...,...,...,...,...,...,...
83,Universidade Federal de São Carlos (UFSCar),Latin America,Brazil,,801,None,None,None,24,None,None
84,Universidade Federal de Viçosa (UFV),Latin America,Brazil,,801,None,None,None,None,None,None
85,Universidade Federal do Paraná - UFPR,Latin America,Brazil,,801,None,None,None,None,None,None
86,Universidade Federal de Pernambuco (UFPE),Latin America,Brazil,,801,None,None,None,28.5,None,None
87,Universidade Federal Fluminense,Latin America,Brazil,,801,None,None,None,38.1,None,None

This ends the data retrieving for source number two. YAY!

<h4>Source three: Times Higher Education</h4>
The first source of data will be the ranking by <a href="https://www.timeshighereducation.com/world-university-rankings/2020/world-ranking">Times Higher Education</a>. <b>SAY SOMETHING ABOUT THE SOURCE...</b>. The data will be restricted to some Latin American countries. According to the dropdown menu, the ones available in this ranking are:
<ul>
    <li>Argentina (identified as AR)</li>
    <li>Brasil (identified as BR)</li>
    <li>Chile (identified as CL)</li>
    <li>Colombia (identified as CO)</li>
    <li>Costa Rica (identified as CR)</li>
    <li>Cuba (identified as CU)</li>
    <li>Jamaica (identified as JM)</li>
    <li>Mexico (identified as MX)</li>
    <li>Peru (identified as PE)</li>
    <li>Puerto Rico (identified as PR)</li>
    <li>Venezuela (identified as VE)</li>
</ul>
The structure of the webpage will be studied in order to systematically retrieve the data for every country.

In [2]:
# Save data from webpage
myurl = 'https://www.timeshighereducation.com/world-university-rankings/2020/world-ranking#!/page/0/length/-1/locations/AR/sort_by/rank/sort_order/asc/cols/stats'
## The structure of the webpage is:
##   1.- Main URL and starting page (0):
##       https://www.timeshighereducation.com/world-university-rankings/2020/world-ranking#!/page/0/
##   2.- Number of results per page (-1 means "All"):
##       length/-1/
##   3.- Location definition (check the country identifier above):
##       locations/AR/
##   4.- Sorting parameters:
##       sort_by/rank/sort_order/asc/
##   5.- Information shown ("stats"=ranking data; "scores"=scoring data):
##       cols/stats
source = requests.get(myurl)
print(source)

<Response [403]>

The response from the Times Higher Education server is to deny incoming requests from this type (403). Sometimes, webpages require to define a <code>User-Agent</code> as explained <a href="https://stackoverflow.com/questions/38489386/python-requests-403-forbidden">here</a>. On top of that, when retrieving the table section of the webpage, the <code>tbody</code> tag (which encloses the data in the body of the table) is empty. According to this <a href="https://stackoverflow.com/questions/49260014/beautifulsoup-returns-empty-td-tags">source</a>, the table data may be generated by a script and not with the HTML code itself. Thus, extra information must be included in the header and in the <code>requests.get</code> arguments to get the results of such script.

In [3]:
# Save data from webpage
myurl = 'https://www.timeshighereducation.com/world-university-rankings/2020/world-ranking#!/page/0/length/-1/sort_by/rank/sort_order/asc/cols/stats'
header = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/64.0.3282.186 Safari/537.36','Accept': 'application/json, text/javascript, */*; q=0.01'}
source = requests.get(myurl,headers=header).text # Without .text, it gets the response in JSON format
mysoup = BeautifulSoup(source,'lxml')
mytable = mysoup.find('table')

The previous results in a table object with an emtpy <code>tbody</code> tag as well. Unfortunately, I could not figure out how to get the actual data from the table. I checked many sources but it would be too much for me to understand it right away. I tried with another retriever but got the same result. Checking again in the developer tools in the browser, the file that contains the actual information is located in the URL given in the next code cell. This is the one to be retrieved and processed to generate the corresponding dataframe.

In [4]:
myurl = 'https://www.timeshighereducation.com/sites/default/files/the_data_rankings/world_university_rankings_2020_0__24cc3874b05eea134ee2716dbf93f11a.json'
header = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/64.0.3282.186 Safari/537.36','Accept': 'application/json, text/javascript, */*; q=0.01'}
source = requests.get(myurl,headers=header).text # Without .text, it gets the response in JSON format
mysoup = BeautifulSoup(source,'lxml')

As the extension shows, this is a JSON file. The algorithm to extract the data will be very similar to the one for Source Two.

In [14]:
import json
diction = json.loads(mysoup.text)
# Check the first entry of data to elucidate the structure
diction['data'][0]

{'rank_order': '10',
 'rank': '1',
 'name': 'University of Oxford',
 'scores_overall': '95.4',
 'scores_overall_rank': '10',
 'scores_teaching': '90.5',
 'scores_teaching_rank': '6',
 'scores_research': '99.6',
 'scores_research_rank': '1',
 'scores_citations': '98.4',
 'scores_citations_rank': '26',
 'scores_industry_income': '65.5',
 'scores_industry_income_rank': '178',
 'scores_international_outlook': '96.4',
 'scores_international_outlook_rank': '22',
 'record_type': 'master_account',
 'member_level': '0',
 'url': '/world-university-rankings/university-oxford',
 'nid': 468,
 'location': 'United Kingdom',
 'stats_number_students': '20,664',
 'stats_student_staff_ratio': '11.2',
 'stats_pc_intl_students': '41%',
 'stats_female_male_ratio': '46 : 54',
 'aliases': 'University of Oxford',
 'subjects_offered': 'Mechanical & Aerospace Engineering,Computer Science,Politics & International Studies (incl Development Studies),Biological Sciences,Languages, Literature & Linguistics,Civil Engineering,Physics & Astronomy,Art, Performing Arts & Design,History, Philosophy & Theology,Other Health,Law,Geology, Environmental, Earth & Marine Sciences,Chemistry,Psychology,General Engineering,Geography,Electrical & Electronic Engineering,Economics & Econometrics,Mathematics & Statistics,Chemical Engineering,Medicine & Dentistry,Sociology'}

In [46]:
import time
import re
# By checking the structure of diction["data"], the useful data in diction['data'][i] is:
#   University name is in ['name']
#   Country is in ['location']
#   Global score is in ['scores_overall']
#   Global rank is in ['rank']
#   Teaching score is in ['scores_teaching']
#   Research score is in ['scores_research']
#   Citations score is in ['scores_citations']
#   Industry income score is in ['scores_industry_income']
#   International outlook score is in ['scores_international_outlook']
#   Number of students is in ['stats_number_students']
#   Students per staff ratio is in ['stats_student_staff_ratio']
#   % of international students is in ['stats_pc_intl_students']
#   Females-to-males ratio is in ['stats_female_male_ratio']
# There is no "region" identifier. Thus, I will use the Location to check if the country
#   belongs to Latin America.

LACountries = ['Argentina','Brasil','Chile','Colombia','Costa Rica','Cuba','Jamaica',
               'Mexico','Peru','Puerto Rico','Venezuela']

details = [] # list, each element will be a dictionary with details
dictkeys = ['Name','Country','GlobalScore','GlobalRank','Teaching_score','Research_score',
            'Citations_score','Indust_income_score','Intl_outlook_score','Students',
            'Students_per_staff','%_intl_students','Females:males','Address']
#
# To get the address...
# The address is given in the particular page of the university. I will collect the relative URL
#   and get the data in the retrieving loop
rooturl = 'https://www.timeshighereducation.com'
header = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/64.0.3282.186 Safari/537.36','Accept': 'application/json, text/javascript, */*; q=0.01'}
#
for i in range(len(diction['data'])):
    if diction['data'][i]['location'] in LACountries:
        mydict = {x:None for x in dictkeys} # Initialize dictionary for current university
        mydict['Name']        = diction['data'][i]['name']
        mydict['Country']     = diction['data'][i]['location']
        mydict['GlobalScore'] = diction['data'][i]['scores_overall']
        # Some ranks are tied, and have an "=" in its value
        mydict['GlobalRank']  = int(re.findall("[0-9]+",str(diction['data'][i]['rank']))[0])
        # The final [0] is because re.findall returns a list, in this case with one element.
        mydict['Teaching_score']      = diction['data'][i]['scores_teaching']
        mydict['Research_score']      = diction['data'][i]['scores_research']
        mydict['Citations_score']     = diction['data'][i]['scores_citations']
        mydict['Indust_income_score'] = diction['data'][i]['scores_industry_income']
        mydict['Intl_outlook_score']  = diction['data'][i]['scores_international_outlook']
        mydict['Students']            = diction['data'][i]['stats_number_students']
        mydict['Students_per_staff']  = diction['data'][i]['stats_student_staff_ratio']
        mydict['%_intl_students']     = diction['data'][i]['stats_pc_intl_students']
        mydict['Females:males']       = diction['data'][i]['stats_female_male_ratio']
        mydict['RelativeURL']         = diction['data'][i]['url']
        relurl = diction['data'][i]['url']
        myurl = rooturl + relurl
        time.sleep(0.5)
        source = requests.get(myurl,headers=header).text
        addrsoup = BeautifulSoup(source,'lxml')
        contact = addrsoup.find('div',class_='institution-info__contact-detail institution-info__contact-detail--address')
        mydict['Address'] = contact.text.strip()
        details.append(mydict)

THE_fulldf = pd.DataFrame.from_dict(details)
THE_fulldf.to_csv('THE_dataframe.csv',encoding="utf-8-sig")
THE_fulldf.head()

,Name,Country,GlobalScore,GlobalRank,Teaching_score,Research_score,Citations_score,Indust_income_score,Intl_outlook_score,Students,Students_per_staff,%_intl_students,Females:males,Address,RelativeURL
0,University of Desarrollo,Chile,38.8–42.3,401,13.5,8.8,99.1,36.8,48.1,"15,384",19.0,4%,56 : 44,"Av. Plaza 680 San Carlos de Apoquindo, Las Con...",/world-university-rankings/university-desarrollo
1,Diego Portales University,Chile,38.8–42.3,401,14.7,10.5,95.3,34.4,50.4,"17,287",14.9,2%,49 : 51,"Manuel Rodríguez Sur 415, Santiago, Región Met...",/world-university-rankings/diego-portales-univ...
2,Pontifical Javeriana University,Colombia,38.8–42.3,401,15.3,8.9,98.6,34.8,44.6,"30,048",15.4,1%,55 : 45,"Carrera 7 No. 40 - 62, Bogota, Distrito Capita...",/world-university-rankings/pontifical-javerian...
3,Universidad Autónoma de Chile,Chile,35.3–38.7,501,12.3,8.9,81.6,34.4,50.7,"23,312",26.2,1%,65 : 35,"Av. Pedro de Valdivia 425, Providencia, Región...",/world-university-rankings/universidad-autonom...
4,Universidad Peruana Cayetano Heredia,Peru,35.3–38.7,501,17.0,11.3,83.1,34.7,46.4,"6,236",10.6,0%,66 : 34,"Av. Honorio Delgado 430, Urb. Ingeniería, San ...",/world-university-rankings/universidad-peruana...
5,Pontifical Catholic University of Chile,Chile,35.3–38.7,501,24.2,28.3,48.6,64.5,57.1,"28,541",15.0,7%,None,"Avda. Libertador Bernardo, O'Higgins 340, Sant...",/world-university-rankings/pontifical-catholic...
6,The University of the West Indies,Jamaica,35.3–38.7,501,17.8,11.1,73.4,38.9,57.2,"23,305",22.2,1%,71 : 29,"Mona, Kingston 7, Jamaica",/world-university-rankings/university-west-indies
7,"University of the Andes, Colombia",Colombia,28.3–35.2,601,21.1,15.9,45.0,37.4,55.7,"15,521",13.2,2%,44 : 56,"Carrera 1 N° 18A 12 Bogotá, Bogata, Distrito C...",/world-university-rankings/university-andes-co...
8,University of Costa Rica,Costa Rica,28.3–35.2,601,16.2,7.9,77.1,34.4,48.2,"33,900",15.1,2%,53 : 47,"Rodrigo Facio Brenes, Montes de Oca, 2060 San ...",/world-university-rankings/university-costa-rica
9,Metropolitan Autonomous University,Mexico,28.3–35.2,601,16.6,16.3,68.6,36.4,25.1,"57,827",20.0,0%,48 : 52,"Prol. Canal de Miramontes 3855, Ex Hacienda Sa...",/world-university-rankings/metropolitan-autono...
10,Monterrey Institute of Technology,Mexico,28.3–35.2,601,20.5,18.2,41.8,74.7,57.3,"14,343",16.2,11%,41 : 59,"Av. Eugenio Garza Sada 2501, Sur Col. Tecnológ...",/world-university-rankings/monterrey-institute...
11,National Autonomous University of Mexico,Mexico,28.3–35.2,601,31.9,30.4,18.9,61.7,44.2,"161,718",17.1,8%,51 : 49,"Ciudad Universitaria, Mexico City, 04510, Mexico",/world-university-rankings/national-autonomous...
12,University of Chile,Chile,22.2–28.2,801,23.2,17.1,33.9,34.5,51.2,"35,447",15.0,6%,47 : 53,"Av Libertador, Bernardo OHiggins 1058, Santiag...",/world-university-rankings/university-chile
13,Federico Santa María Technical University,Chile,22.2–28.2,801,13.6,9.8,40.2,44.9,54.5,"19,067",27.3,3%,24 : 76,"Avenida España 1680, Casilla 110-V, Valparaíso...",/world-university-rankings/federico-santa-mari...
14,University of La Frontera,Chile,22.2–28.2,801,15.1,16.0,34.0,34.5,47.9,"10,437",24.6,1%,49 : 51,"Av. Francisco Salazar 01145, Temuco, Chile",/world-university-rankings/university-la-frontera
15,Pontifical Catholic University of Peru,Peru,22.2–28.2,801,19.9,8.6,33.8,35.9,47.4,"24,984",7.5,3%,47 : 53,"Av. Universitaria 1801, San Miguel, Lima, 1508...",/world-university-rankings/pontifical-catholic...
16,University of Puerto Rico,Puerto Rico,22.2–28.2,801,18.1,8.5,43.7,34.9,43.7,"49,713",13.9,1%,58 : 42,"1187 Flamboyán Street, San Juan, 00926-1117, P...",/world-university-rankings/university-puerto-rico
17,"University of the Andes, Chile",Chile,10.7–22.1,1001,16.1,10.5,15.6,34.6,47.8,"8,402",14.4,2%,59 : 41,"Mons. Álvaro del Portillo, 12.455, Las Condes,...",/world-university-rankings/university-andes-chile
18,"University of the Andes, Venezuela",Venezuela,10.7–22.1,1001,15.0,7.9,9.1,34.4,45.6,"42,198",16.8,0%,58 : 42,"Avenida 3, Independencia, Mérida. Edo. Mérida,...",/world-university-rankings/university-andes-ve...
19,Andrés Bello University (UNAB),Chile,10.7–22.1,1001,13.3,8.0,29.8,34.6,47.3,"44,327",21.8,1%,53 : 47,"Dice Sazie 2320, Santiago, Debe decir Repúblic...",/world-university-rankings/andres-bello-univer...
20,University of Antioquia,Colombia,10.7–22.1,1001,16.7,17.0,17.2,40.6,37.7,"41,389",24.0,0%,51 : 49,"Calle 67 Número 53 - 108 P.O BOX 1226, Medelli...",/world-university-rankings/university-antioquia
21,Austral University of Chile,Chile,10.7–22.1,1001,15.0,12.2,22.7,46.9,50.2,"15,575",17.7,2%,50 : 50,"Independencia 641, Valdivia, Chile",/world-university-rankings/austral-university-...
22,Autonomous University of Baja California,Mexico,10.7–22.1,1001,13.7,8.8,7.7,35.2,30.0,"59,507",17.7,2%,53 : 47,"Av Alvaro Obregon y Julian Carrillo s/n, Colon...",/world-university-rankings/autonomous-universi...
23,Autonomous University of Hidalgo State (UAEH),Mexico,10.7–22.1,1001,15.0,8.2,8.4,36.2,22.1,"34,995",18.2,1%,57 : 43,"Carr Pachuca-Actopan km. 4.5 Edificio B, 4to.P...",/world-university-rankings/autonomous-universi...
24,Autonomous University of Nuevo León,Mexico,10.7–22.1,1001,12.5,7.7,12.1,35.4,29.2,"207,520",54.1,0%,None,"Pedro de Alba s/n, San Nicolás de Los Garza, N...",/world-university-rankings/autonomous-universi...
25,Autonomous University of Puebla,Mexico,10.7–22.1,1001,16.0,7.9,12.2,34.7,25.7,"69,982",33.2,1%,53 : 47,"4 sur 104, Centro Histórico, Puebla, 72000, Me...",/world-university-rankings/autonomous-universi...
26,Autonomous University of Querétaro,Mexico,10.7–22.1,1001,15.4,9.2,17.3,38.7,25.9,"22,058",39.9,1%,56 : 44,"Cerro de Las Campanas, Querétaro, 76017, Mexico",/world-university-rankings/autonomous-universi...
27,Autonomous University of San Luis Potosi,Mexico,10.7–22.1,1001,17.8,7.4,11.9,34.6,29.0,"32,012",9.5,1%,51 : 49,"Alvaro Obregon #64, Col. Centro, San Luis Poto...",/world-university-rankings/autonomous-universi...
28,Autonomous University of Sinaloa,Mexico,10.7–22.1,1001,13.3,7.9,14.3,35.3,26.2,"72,792",21.5,0%,52 : 48,"No. 2358, Desarrollo Urbano Tres Ríos, Blvd. M...",/world-university-rankings/autonomous-universi...
29,Autonomous University of the State of Mexico,Mexico,10.7–22.1,1001,14.4,9.2,6.9,39.0,25.6,"57,588",22.2,1%,58 : 42,"Instituto Literario # 100, Col. Centro, Toluca...",/world-university-rankings/autonomous-universi...
30,Autonomous University of Yucatán,Mexico,10.7–22.1,1001,15.8,8.1,15.9,40.2,29.3,"15,206",13.6,0%,50 : 50,"Calle 60 No, 491-A por 57, Merida, Yucatan, 97...",/world-university-rankings/autonomous-universi...
31,University of Bío-Bío,Chile,10.7–22.1,1001,13.2,8.4,7.9,37.3,46.6,"12,955",24.7,1%,42 : 58,"Avda. Collao 1202, Casilla 5-C, Concepción, 40...",/world-university-rankings/university-bio-bio
32,Catholic University of the North,Chile,10.7–22.1,1001,14.8,14.2,18.9,35.6,52.9,"11,871",19.6,2%,46 : 54,"Avda Angamos 0610, Antofagasta, Chile",/world-university-rankings/catholic-university...
33,University of Concepción,Chile,10.7–22.1,1001,15.4,11.6,19.7,56.6,48.7,"27,640",17.4,1%,51 : 49,"Víctor Lamas 1290, Casilla 160-C, Concepción, ...",/world-university-rankings/university-concepcion
34,Del Rosario University,Colombia,10.7–22.1,1001,16.5,9.6,15.4,35.1,47.5,"10,339",12.9,1%,61 : 39,"Calle 12C No. 6-25, Bogata, Distrito Capital, ...",/world-university-rankings/del-rosario-university
35,University of Guadalajara,Mexico,10.7–22.1,1001,15.4,7.8,10.0,34.4,28.3,"123,932",55.6,0%,52 : 48,"Av. Juárez No. 976, Colonia Centro, Guadalajar...",/world-university-rankings/university-guadalajara
36,University of Guanajuato,Mexico,10.7–22.1,1001,16.4,8.7,13.5,34.6,35.7,"26,034",19.8,3%,53 : 47,"Lascuráin de Retana No. 5, Centro, 36000, Mexico",/world-university-rankings/university-guanajuato
37,University of Havana,Cuba,10.7–22.1,1001,21.6,9.0,9.5,40.2,52.5,"14,856",9.8,7%,71 : 29,"San Lázaro y L., MU Plaza de la Revolución, La...",/world-university-rankings/university-havana
38,Industrial University of Santander (UIS),Colombia,10.7–22.1,1001,14.5,9.9,35.1,34.7,38.7,"20,851",24.5,0%,46 : 54,"Cra 27 Calle 9, Bucaramanga, Santander, Colombia",/world-university-rankings/industrial-universi...
39,Michoacán University of San Nicolás of Hidalgo,Mexico,10.7–22.1,1001,13.4,10.2,11.3,35.4,29.8,"40,381",30.2,1%,52 : 48,"Avenida Francisco J. Mugica, Ciudad Universita...",/world-university-rankings/michoacan-universit...
40,National University of Colombia,Colombia,10.7–22.1,1001,19.0,14.5,26.1,35.4,35.7,"52,085",22.4,1%,38 : 62,"Carrera 45 No 26-85, Edificio Uriel Gutiérrez,...",/world-university-rankings/national-university...
41,National University of Córdoba,Argentina,10.7–22.1,1001,20.6,9.2,21.2,35.1,34.3,"59,450",10.4,3%,68 : 32,"Haya de la Torre S/n planta baja, Patio de las...",/world-university-rankings/national-university...
42,National University of Cuyo,Argentina,10.7–22.1,1001,18.0,7.1,25.7,34.4,37.2,"46,096",9.6,2%,61 : 39,"Provincia de Mendoza, Mendoza, M5502JMA, Argen...",/world-university-rankings/national-university...
43,National Polytechnic University (IPN),Mexico,10.7–22.1,1001,17.6,9.0,10.7,40.4,21.8,"177,983",10.8,0%,39 : 61,"Av. Luis Enrique Erro S/N, Gustavo A. Madero, ...",/world-university-rankings/national-polytechni...
44,National University of San Martín,Argentina,10.7–22.1,1001,16.5,8.8,31.9,35.0,39.1,"15,236",15.8,5%,65 : 35,"25 de Mayo y Francia, San Martín, Buenos Aires...",/world-university-rankings/national-university...
45,National University of the South,Argentina,10.7–22.1,1001,16.4,7.4,7.7,35.8,25.9,"20,987",16.0,%,58 : 42,"Avenida Colón 80, Bahía Blanca, Buenos Aires, ...",/world-university-rankings/national-university...
46,"University of the North, Colombia",Colombia,10.7–22.1,1001,15.0,10.9,11.5,36.7,51.4,"14,228",20.5,3%,51 : 49,"Km.5 Vía Puerto, Barranquilla, Colombia",/world-university-rankings/university-north-co...
47,Pontifical Bolivarian University (UPB) – Medellín,Colombia,10.7–22.1,1001,17.5,8.9,7.8,34.7,35.2,"15,118",12.6,1%,55 : 45,"Circular 1 No. 70-01, Medellín, Colombia",/world-university-rankings/pontifical-bolivari...
48,Pontifical Catholic University of Valparaíso,Chile,10.7–22.1,1001,17.3,15.9,16.0,50.0,48.6,"15,935",24.4,1%,42 : 58,"Avenida Brasil, Valparaíso, 2950, Chile",/world-university-rankings/pontifical-catholic...
49,"University of Santiago, Chile (USACH)",Chile,10.7–22.1,1001,16.2,14.2,12.1,38.1,45.6,"22,818",24.3,2%,42 : 58,"Ave Libertador Bernardo O'Higgins 3363, Estaci...",/world-university-rankings/university-santiago...
50,Simón Bolívar University,Venezuela,10.7–22.1,1001,16.9,9.9,13.8,61.1,45.9,"10,273",24.9,0%,46 : 54,"Sartenejas Baruta, Edo. Miranda, Caracas, 8900...",/world-university-rankings/simon-bolivar-unive...
51,University of Sonora,Mexico,10.7–22.1,1001,13.9,7.4,9.2,34.5,28.2,"29,921",20.9,1%,53 : 47,"Blvd.Luis Encinas y Rosales S/N, Col. Centro, ...",/world-university-rankings/university-sonora
52,University of Talca,Chile,10.7–22.1,1001,15.3,11.2,27.5,44.7,49.5,"10,795",16.1,1%,48 : 52,"1 Poniente #1141, Talca, Chile",/world-university-rankings/university-talca
53,University of Tarapacá,Chile,10.7–22.1,1001,12.7,13.7,10.8,34.4,50.2,"8,708",25.1,2%,55 : 45,"18 de Septiembre, Arica, Arica y Parinacota, C...",/world-university-rankings/university-tarapaca
54,University of Valparaíso,Chile,10.7–22.1,1001,16.7,9.7,18.4,34.5,48.7,"16,211",18.5,3%,59 : 41,"Blanco 951, Valparaíso, Chile",/world-university-rankings/university-valparaiso

This ends the data retrieving for source number three. YAY!

<h3>S1.2 Homogenizing the information from the different sources</h3>

Once all source data has been retrieved, the first step to make any analysis is to put all information on the same baseline. Let's check the first rows of each dataframe:

<hr></hr><hr></hr><hr></hr>

<hr></hr><hr></hr><hr></hr>

<hr></hr><hr></hr><hr></hr>

<hr></hr><hr></hr><hr></hr>

<h4>0.2 Getting coordinates for the neighborhoods from Problem 2</h4>

In [ ]:
# Convert file to dataframe
toronto_df = pd.read_csv('toronto_data.csv')
# Changing the name of the first column of downloaded data
toronto_df.rename(columns={'Postal Code':'PostalCode'},inplace=True)
# Merging provided data into the original dataframe
# dataframe is the original data retrieved and cleaned from wikipedia
# toronto_df is the downloaded data
full_df = pd.merge(dataframe, toronto_df, on='PostalCode')
full_df.drop_duplicates(inplace=True) # Dropping duplicated rows
print('Shape of merged dataframe: ',merged.shape)
full_df.head(10)

<h4>1.1 Analyzing neighborhoods in Toronto</h4>
The purpose of the following code is to group (cluster) different neighborhoods from Toronto in order to see how similar are some of them, and which type of facilities (venues) they have. Maybe you would like to visit neighborhoods with coffee shops and bars one day, and visit neighborhoods with malls and beauty shops another day!

In [ ]:
# Get required packages and libraries ready

import numpy as np # library to handle data in a vectorized manner

# import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

!conda install -c conda-forge geopy --yes
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

# import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

!conda install -c conda-forge folium=0.5.0 --yes
import folium # map rendering library

print('Libraries imported.')

<h4>1.2 A first look on Toronto</h4>
Let's get some characteristics of the dataframe we have, as well as the location of Toronto in a map.

In [ ]:
# How many boroughs and neighborhoods does Toronto have?
print('The dataframe "full_df" for Toronto has {} boroughs and {} neighborhoods.'
      .format(len(full_df['Borough'].unique()),
              full_df.shape[0]
    )
)

In [ ]:
# Where is Toronto?
address = 'Toronto, Ontario'

geolocator = Nominatim(user_agent="TO_explorer")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geographical coordinates of Toronto are {}, {}.'.format(latitude, longitude))

In [ ]:
# Create map of Toronto using its latitude and longitude values
map_toronto = folium.Map(location=[latitude, longitude], zoom_start=10)

# Add markers of neighborhoods to map
for lat, lng, borough, neighborhood, pcode in zip(full_df['Latitude'], full_df['Longitude'],
                                                  full_df['Borough'], full_df['Neighborhood'],
                                                  full_df['PostalCode']):
    label = '{} ({}) {}'.format(neighborhood, borough, pcode)
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=5,
        popup=label,
        color='blue',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7,
        parse_html=False).add_to(map_toronto) # Do not forget to add CircleMarker to the map!!  
    
map_toronto

In order to simplify the analysis, the exercise suggests to perform it only in boroughs that include 'Toronto' in its name. Let's extract that information:

In [ ]:
# Define the dataframe by appending the desired boroughs
tmp = []
for i,x in enumerate(full_df['Borough']): # Create an enumerated list of boroughs
    if 'Toronto' in x: # Check if Toronto appears in the borough's name
        tmp.append(full_df.iloc[i])

justtoronto_df = pd.DataFrame(tmp).reset_index(drop=True) # Transform result to dataframe
print('Shape of dataframe for Toronto boroughs: ',justtoronto_df.shape)
justtoronto_df.head()

Now, let's adapt the map to the Toronto zone:

In [ ]:
# Just changed "full_df" to "justtoronto_df"
# And I will overwrite the previous map
# Create map of Toronto using its latitude and longitude values
map_toronto = folium.Map(location=[latitude, longitude], zoom_start=11) # Larger zoom

# Add markers of neighborhoods to map
for lat, lng, borough, neighborhood, pcode in zip(justtoronto_df['Latitude'], justtoronto_df['Longitude'],
                                                  justtoronto_df['Borough'], justtoronto_df['Neighborhood'],
                                                  justtoronto_df['PostalCode']):
    label = '{} ({}) {}'.format(neighborhood, borough, pcode)
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=5,
        popup=label,
        color='blue',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7,
        parse_html=False).add_to(map_toronto) # Do not forget to add CircleMarker to the map!!  
    
map_toronto

<h4>2.1 Setting up Foursquare credentials</h4>
Please don't eat up my calls credit! XD

In [ ]:
CLIENT_ID = 'RRYOHBWLN3VNML1RBPM0TRVDW2R41TKNWMZSH0VTOQKGNO2T' # your Foursquare ID
CLIENT_SECRET = 'X22FCK21ZCS0UVXZ11TILJFRGXGWVMD5ZADQLIOSMDHHSHHN' # your Foursquare Secret
VERSION = '20180605' # Foursquare API version

<h4>2.2 Exploring one neighborhood</h4>
In order to make things clear, let's establish the analysis plan using just one neighborhood. Choose by setting a number between 0 and 38 in the following cell.

In [ ]:
# Setting up neighborhood to be analyzed
nnum = 5

myneigh = justtoronto_df.loc[nnum, 'Neighborhood']
myneigh_lat = justtoronto_df.loc[nnum, 'Latitude'] # neighborhood latitude value
myneigh_lon = justtoronto_df.loc[nnum, 'Longitude'] # neighborhood longitude value

print('Your selected neighborhood is {}, located at (latitude,longitude) = ({},{}).'
      .format(myneigh, myneigh_lat, myneigh_lon))
print('Don\'t forget to update this cell when you want to analyze other neighborhood!')

The following code requests the top 100 venues in 500 meters around the location of your neighborhood:

In [ ]:
LIMIT=100 # Remember the number and type of calls you have in your credit
radius=500 # in meters
# The URL structure is straighforward to read.
# Just remember the information you have to provide for each type of request.
url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
           CLIENT_ID,
           CLIENT_SECRET,
           VERSION,
           myneigh_lat,
           myneigh_lon,
           radius,
           LIMIT)
url

In [ ]:
# Call to Foursquare. Do not abuse of this cell execution!!!
results = requests.get(url).json()
### results # Careful. Long result ahead. Uncomment just to be sure that it worked

All the information is in the <i>items</i> key. The following function <code>get_category_type</code> is used to extract the name of a category (remember the structure of the information in the <code>json</code> files).

In [ ]:
# Function that extracts the category of the venue
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']

The previous function helps to clean the data from the request:

In [ ]:
# Getting "items" to work with a smaller amount of data
venues = results['response']['groups'][0]['items']

# Convert JSON-style data into a table
nearby_venues = json_normalize(venues)

# Getting only the columns we will use
# The names come by looking at the json_normalize result
filtered_columns = ['venue.name', 'venue.categories', 'venue.location.lat', 'venue.location.lng']
nearby_venues = nearby_venues.loc[:, filtered_columns] # All rows, only the filtered columns

# venue.categories looks messy from the previous result. This is why you apply "get_category_type"
#   to that column, then you get the cleaned name. Of course, the function's design comes after
#   checking the data structure in "venues".
nearby_venues['venue.categories'] = nearby_venues.apply(get_category_type, axis=1)

# Remove the "venues." string from the column names
nearby_venues.columns = [col.split(".")[-1] for col in nearby_venues.columns]

# Check the result
print('{} venues were returned by Foursquare in {}.'.format(nearby_venues.shape[0],myneigh))
nearby_venues.head()

<h4>3.1 Exploring the full zone</h4>
Now that it has been done for one neighborhood, it can be taken to explore the full set of neghborhoods in the selected region of Toronto.

The following function will do the previous steps with a list of neighborhoods, provided the names and coordinates for each one (and maybe the radius to look for around the location and the limit of venues to search).

In [ ]:
def getNearbyVenues(names, latitudes, longitudes, radius=500, LIMIT=100):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print('Searching for venues in ',name,'...')
            
        # Create URL for API request
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # Make GET request, directly retrieving only the interesting part
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # Return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results]) # This is a "list comprehension"
        # In this type of list, you include an implicit for, which can be useful to reduce the number of lines
        #   in a code. In this case, it looks in the "results" data for the specific elements and values of the
        #   previously defined lists.

    # Transform result in dataframe
    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list]) # Nested list comprehension
    nearby_venues.columns = ['Neighborhood', 
                  'Neighborhood Latitude', 
                  'Neighborhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    print()
    print('Done!!',end='\n\n')
    print('Returned a dataframe with shape ',nearby_venues.shape)
    return(nearby_venues)

Now, apply the function to the full set of neighborhoods in Toronto:

In [ ]:
toronto_venues = getNearbyVenues(names=justtoronto_df['Neighborhood'],
                                   latitudes=justtoronto_df['Latitude'],
                                   longitudes=justtoronto_df['Longitude']
                                  )

In [ ]:
toronto_venues.head(10)

In [ ]:
# How many venues does each neighborhood has?
print('Number of venues retrieved per neighborhood (dataframe):')
toronto_venues.groupby('Neighborhood').count()

Check that the number of venues returned by Foursquare here matches the one in your "one neighborhood" analysis.

In [ ]:
# How many type of venues are there in this dataframe?
print('There are {} uniques categories of venues in the dataframe.'.format(len(toronto_venues['Venue Category'].unique())))

<h4>3.2 Managing the information</h4>
The following code will create a dataframe that show how many venues of a given type exists in each neighborhood. The dataframe will be large but this is the preparation step.

In [ ]:
# One hot encoding
# Create a dummy dataframe with columns after (unique) values in 'Venue Category'
toronto_onehot = pd.get_dummies(toronto_venues[['Venue Category']], prefix="", prefix_sep="")

# Add neighborhood column back to dataframe
# With this you just create a 'Neighborhood' column in toronto_onehot
#   with the info from toronto_venues['Neighborhood']
toronto_onehot['Neighborhood'] = toronto_venues['Neighborhood'] 

# Move neighborhood column to the first column
# The previous code results in an alphabetical order in the columns (left-to-right)
#   thus let's move the 'Neighborhood' column to the beginning.
colind = toronto_onehot.columns.get_loc("Neighborhood") # Getting the position of column in dataframe
fixed_columns = [toronto_onehot.columns[colind]] + list(toronto_onehot.columns[0:colind]) + list(toronto_onehot.columns[colind+1:])
toronto_onehot = toronto_onehot[fixed_columns]

### Warning! In the lab exercise, the 'Neighborhood' column was added at the end of
###   the dataframe. That is why there you see a '-1' index to refer to that column.
###       fixed_columns = [toronto_onehot.columns[-1]] + list(toronto_onehot.columns[:-1])
###       toronto_onehot = toronto_onehot[fixed_columns]
###   While checking here, I realized the alphabetical order (don't know why!).
###   Thus, I had to modify the code to look for the column by name.

toronto_onehot.head()

The previous dataframe establishes the occurrence of a given venue in a particular neighborhood. Let's group the occurrence of each type (category) of venue per neighborhood, making a <code>mean</code> out of the location to have an idea of the frequency of such occurrence per neighborhood. This is, of the total of venues in a given neighborhood, how feasible is to find a given type of venue.

In [ ]:
toronto_grouped = toronto_onehot.groupby('Neighborhood').mean().reset_index()
toronto_grouped.head()

As you can see in the previous results, it is more feasible to find a coffee shop than an art gallery in Berczy Park. This is more easily seen if you print the top 5 venues (according to frequency) for each neighborhood.

In [ ]:
num_top_venues = 5

for hood in toronto_grouped['Neighborhood']:
    print("----" + hood + "----") # "plus" signs do not work if you mix strings and numbers!
    # T is for Transposed. It gets the venue categories to the index side.
    temp = toronto_grouped[toronto_grouped['Neighborhood'] == hood].T.reset_index()
    temp.columns = ['venue','freq']
    temp = temp.iloc[1:]
    temp['freq'] = temp['freq'].astype(float)
    temp = temp.round({'freq': 3})
    print(temp.sort_values('freq', ascending=False).reset_index(drop=True).head(num_top_venues))
    print('\n')

<b>Note</b>: Remember that this <i>frequency</i> analysis depends on the number of venues in the neighborhood. If you see very small numbers in the top 5, it may mean there is a lot of venues in the neighborhood.

To get this information into a dataframe, it is easier to create a function to return the top venues in a . The next cell will create the dataframe in a readable way.

In [ ]:
def return_most_common_venues(row, num_top_venues):
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    
    return row_categories_sorted.index.values[0:num_top_venues]

In [ ]:
num_top_venues = 10

indicators = ['st', 'nd', 'rd'] # Not needed if you use "Venue #X" for X = 1 to num_top_venues

# Create columns according to number of top venues
columns = ['Neighborhood']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind])) # Indicators for 1, 2 and 3
    except:
        columns.append('{}th Most Common Venue'.format(ind+1)) # When you run out of "indicators"

# Create a new dataframe
neighborhoods_venues_sorted = pd.DataFrame(columns=columns) # As wide as num_top_venues + 1
neighborhoods_venues_sorted['Neighborhood'] = toronto_grouped['Neighborhood'] # Copy neighborhoods from dataframe

for ind in np.arange(toronto_grouped.shape[0]): # For the number of neighborhoods in the dataframe...
    # The function returns the first "num_top_venues" from the ordered list from each row
    neighborhoods_venues_sorted.iloc[ind, 1:] = return_most_common_venues(toronto_grouped.iloc[ind, :], num_top_venues)

neighborhoods_venues_sorted.head()

<h4>4.1 Clustering neighborhoods using <i>K means</i></h4>
The following code runs the <code>K means</code> model on several values for number of clusters and random-number-generator seeds.

In [ ]:
toronto_grouped_clustering = toronto_grouped.drop('Neighborhood', 1)
for kclusters in range(3,6):
    print()
    print('Results for K-means with k = ',kclusters)
    for seed in range(0,5):
        # Execute k-means clustering for given conditions
        kmeans = KMeans(n_clusters=kclusters, random_state=seed, n_init=12).fit(toronto_grouped_clustering)    
        # Check cluster labels generated for each row in the dataframe
        print('For k = {} and seed = {} the labels are: \n {}'.format(kclusters,seed,kmeans.labels_[0:]))

The value of the <code>seed</code> for the random number generator that initializes the centroids of the clusters seems to influence more for lower <code>kcluster</code> values. With <code>kclusters=5</code> the results are the same. Let's use those values for the clustering.

In [ ]:
toronto_grouped_clustering = toronto_grouped.drop('Neighborhood', 1)
kmeans = KMeans(n_clusters=5, random_state=0, n_init=12).fit(toronto_grouped_clustering)
kmeans

Let's complete the dataframe for Toronto neighborhoods with the data from the neighborhoods, cluster label and top venues.

In [ ]:
# Add clustering labels to the sorted neighborhood venues
neighborhoods_venues_sorted.insert(0, 'Cluster Labels', kmeans.labels_)

In [ ]:
# Recover the original dataframe (in this case, "justtoronto_df")
toronto_merged = justtoronto_df

# Add neighborhoods_venues_sorted to toronto_merged according to the neighborhood name
toronto_merged = toronto_merged.join(neighborhoods_venues_sorted.set_index('Neighborhood'), on='Neighborhood')

toronto_merged.head(5)

For the final presentation, a map with colored markers for each cluster is shown as follows.

In [ ]:
# Getting Toronto's coordinates
address = 'Toronto, Ontario'
geolocator = Nominatim(user_agent="TO_explorer")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude

In [ ]:
# Create map object
map_clusters = folium.Map(location=[latitude, longitude], zoom_start=11)

# Set color scheme for each cluster
x = np.arange(kclusters)
ys = [i + x + (i*x)**2 for i in range(kclusters)]
colors_array = cm.gnuplot(np.linspace(0, 1, len(ys))) # Look for color maps in matplotlib
rainbow = [colors.rgb2hex(i) for i in colors_array]

# Add markers to the map
markers_colors = []
for lat, lon, hood, cluster in zip(toronto_merged['Latitude'], toronto_merged['Longitude'],
                                  toronto_merged['Neighborhood'], toronto_merged['Cluster Labels']):
    label = folium.Popup(str(hood) + ' (in Cluster ' + str(cluster) + ')', parse_html=True)
    folium.CircleMarker(
        [lat, lon],
        radius=5,
        popup=label,
        color=rainbow[cluster-1],
        fill=True,
        fill_color=rainbow[cluster-1],
        fill_opacity=0.7).add_to(map_clusters)
       
map_clusters

<h4>4.2 Examining clusters</h4>
Why that many neighborhoods are in a specific cluster? Let's see the top venues in each cluster and compare between them. Since cluster 3 is the more populated, let's check that one first.

In [ ]:
mycluster = 0
toronto_merged.loc[toronto_merged['Cluster Labels'] == mycluster, toronto_merged.columns[[2] + list(range(5, toronto_merged.shape[1]))]]

<b>NOTE</b>: If you run this notebook again, the "big" cluster can get another label. In this example, it came to be 0.

For cluster 0, coffee shops and cafés are the common venues on the top list. What happens with neighborhoods like "Dufferin, Dovercourt Village" (index 9)? It does not seem very similar. It shares bakery and bar on his top venues with a couple of other neighborhoods but it seems rather odd. Maybe the analysis tends to load the separation on the top venues rather than the whole set. Anyway, remember we are looking at the top venues here, not at every one of them. For the rest of the clusters, the comparison is straightforward:

In [ ]:
mycluster = 1
toronto_merged.loc[toronto_merged['Cluster Labels'] == mycluster, toronto_merged.columns[[2] + list(range(5, toronto_merged.shape[1]))]]

In [ ]:
mycluster = 2
toronto_merged.loc[toronto_merged['Cluster Labels'] == mycluster, toronto_merged.columns[[2] + list(range(5, toronto_merged.shape[1]))]]

In [ ]:
mycluster = 3
toronto_merged.loc[toronto_merged['Cluster Labels'] == mycluster, toronto_merged.columns[[2] + list(range(5, toronto_merged.shape[1]))]]

In [ ]:
mycluster = 4
toronto_merged.loc[toronto_merged['Cluster Labels'] == mycluster, toronto_merged.columns[[2] + list(range(5, toronto_merged.shape[1]))]]

For the clusters with more than one element, top venues are very similar. There, the clustering makes sense. It may be a challenge to further analyze the data in order to see why the clustering puts that many neighborhoods in one of them (remember the results for <code>kclusters</code> from 3 to 4 in the beginning of section 4.1). Some straightforward ideas on this can be found <a href="https://zerowithdot.com/mistakes-with-k-means-clustering/">here</a> and some solutions are suggested <a href="https://www.datanovia.com/en/lessons/determining-the-optimal-number-of-clusters-3-must-know-methods/">here</a>. Since this is a high-dimensionality problem, the suggestion I have is to try several clusters and check the label distribution. Just set <code>maxclusters</code> in the following cell and see what's a good candidate! After that, rinse and repeat.

In [ ]:
toronto_grouped_clustering = toronto_grouped.drop('Neighborhood', 1)
maxclusters = 10
seed = 0
save_k = 10
for kclusters in range(3,maxclusters+1):
    print()
    print('Results for K-means with k = ',kclusters)
    # Execute k-means clustering for given conditions
    tmp = KMeans(n_clusters=kclusters, random_state=seed, n_init=12).fit(toronto_grouped_clustering)    
    # Check cluster labels generated for each row in the dataframe
    print('For k = {} and seed = {} the labels are: \n {}'.format(kclusters,seed,tmp.labels_[0:]))
    if kclusters == save_k:
        kmeans = tmp
print()
print('Saved results for kclusters = ',save_k,' in "kmeans"')